In [1]:
%pip  install mysql

Requirement already satisfied: mysql in c:\users\dell\desktop\redbus_1\.venv\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\dell\desktop\redbus_1\.venv\lib\site-packages (from mysql) (2.2.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector

In [3]:
import pandas as pd

Final_df = pd.read_csv('df_fullbusdetails.csv')
Final_df

,Busname,Bustype,Departing_time,Reaching_time,Duration,Price,Seats_available,Star_rating,Route_links,Route_names,State_name
0,KSRTC (Kerala) - 51,Swift Deluxe Non AC Air Bus (2+2),19:00,04:30,09h 30m,INR 640,22 Seats available,3.9\n43,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,Kerala
1,KSRTC (Kerala) - 789,Super Fast Non AC Seater (2+3),20:00,03:45,07h 45m,INR 473,14 Seats available,3.8\n85,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,Kerala
2,KSRTC (Kerala) - 1585,Swift Deluxe Non AC Air Bus (2+2),20:40,06:10,09h 30m,INR 640,10 Seats available,3.5\n64,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,Kerala
3,KSRTC (Kerala) - 1586,Swift Deluxe Non AC Air Bus (2+2),21:30,06:55,09h 25m,INR 640,1 Seat available,3.1\n39,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,Kerala
4,KSRTC (Kerala) - 2133,Swift Deluxe Non AC Air Bus (2+2),22:10,07:35,09h 25m,INR 640,1 Seat available,4.3\n27,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode,Kerala
...,...,...,...,...,...,...,...,...,...,...,...
7643,True Bus,Volvo Multi Axle A/C Sleeper I-Shift B11R (2+1),22:30,04:30,06h 00m,INR 1999,36 Seats available,2.8,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Nandyal,Andhra Pradesh
7644,SREE LEKYAA TRAVELS,NON A/C Sleeper (2+1),21:35,03:30,05h 55m,712,22 Seats available,1.7,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Nandyal,Andhra Pradesh
7645,Dharshini Travels,Non A/C Seater / Sleeper (2+1),21:00,04:37,07h 37m,356,9 Seats available,2.5\n9,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Nandyal,Andhra Pradesh
7646,Meghana Travels,A/C Sleeper (2+1),21:50,04:30,06h 40m,INR 1499,1 Seat available,2.3\n15,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Nandyal,Andhra Pradesh
7647,VEGA BUS,A/C Sleeper (2+1),22:15,05:30,07h 15m,3325,3 Seats available,2.5,https://www.redbus.in/bus-tickets/hyderabad-to...,Hyderabad to Nandyal,Andhra Pradesh

In [4]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7648 entries, 0 to 7647
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Busname          7648 non-null   object
 1   Bustype          7648 non-null   object
 2   Departing_time   7648 non-null   object
 3   Reaching_time    7648 non-null   object
 4   Duration         7648 non-null   object
 5   Price            7648 non-null   object
 6   Seats_available  7648 non-null   object
 7   Star_rating      7648 non-null   object
 8   Route_links      7648 non-null   object
 9   Route_names      7648 non-null   object
 10  State_name       7648 non-null   object
dtypes: object(11)
memory usage: 657.4+ KB

In [5]:
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0        640.0
1        473.0
2        640.0
3        640.0
4        640.0
         ...
7643    1999.0
7644     712.0
7645     356.0
7646    1499.0
7647    3325.0
Name: Price, Length: 7648, dtype: float64

In [6]:
Final_df["Star_rating"]=Final_df["Star_rating"].str.replace("New","")
Final_df["Star_rating"]=Final_df["Star_rating"].str.strip()
Final_df["Star_rating"]=Final_df["Star_rating"].str.split().str[0]
Final_df["Star_rating"] = pd.to_numeric(Final_df["Star_rating"], errors='coerce')
Final_df["Star_rating"].fillna(0,inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_9236\204255246.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Star_rating"].fillna(0,inplace=True)

In [7]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7648 entries, 0 to 7647
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Busname          7648 non-null   object
 1   Bustype          7648 non-null   object
 2   Departing_time   7648 non-null   object
 3   Reaching_time    7648 non-null   object
 4   Duration         7648 non-null   object
 5   Price            7648 non-null   float64
 6   Seats_available  7648 non-null   object
 7   Star_rating      7648 non-null   float64
 8   Route_links      7648 non-null   object
 9   Route_names      7648 non-null   object
 10  State_name       7648 non-null   object
dtypes: float64(2), object(9)
memory usage: 657.4+ KB

In [8]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [9]:
import numpy as np
Final_df = Final_df.replace({np.nan: None})

In [10]:
print(Final_df['Bustype'].isnull().sum()) 
Final_df['Bustype'] = Final_df['Bustype'].fillna('Unknown')
print(Final_df['Bustype'].isnull().sum())

0
0

In [11]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7643 entries, 0 to 7647
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Busname          7643 non-null   object
 1   Bustype          7643 non-null   object
 2   Departing_time   7643 non-null   object
 3   Reaching_time    7643 non-null   object
 4   Duration         7643 non-null   object
 5   Price            7643 non-null   float64
 6   Seats_available  7643 non-null   object
 7   Star_rating      7643 non-null   float64
 8   Route_links      7643 non-null   object
 9   Route_names      7643 non-null   object
 10  State_name       7643 non-null   object
dtypes: float64(2), object(9)
memory usage: 716.5+ KB

In [12]:
# Replace all None/NaN values with default values, for example, 0 or 'Unknown' for string columns
Final_df = Final_df.fillna({'Seats_available': 0, 'Bus_type': 'Unknown'})

In [13]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7643 entries, 0 to 7647
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Busname          7643 non-null   object
 1   Bustype          7643 non-null   object
 2   Departing_time   7643 non-null   object
 3   Reaching_time    7643 non-null   object
 4   Duration         7643 non-null   object
 5   Price            7643 non-null   float64
 6   Seats_available  7643 non-null   object
 7   Star_rating      7643 non-null   float64
 8   Route_links      7643 non-null   object
 9   Route_names      7643 non-null   object
 10  State_name       7643 non-null   object
dtypes: float64(2), object(9)
memory usage: 716.5+ KB

In [14]:
print(Final_df.head(10))

                 Busname                                    Bustype  \
0    KSRTC (Kerala) - 51          Swift Deluxe Non AC Air Bus (2+2)
1   KSRTC (Kerala) - 789             Super Fast Non AC Seater (2+3)
2  KSRTC (Kerala) - 1585          Swift Deluxe Non AC Air Bus (2+2)
3  KSRTC (Kerala) - 1586          Swift Deluxe Non AC Air Bus (2+2)
4  KSRTC (Kerala) - 2133          Swift Deluxe Non AC Air Bus (2+2)
5  KSRTC (Kerala) - 2063                SWIFT-GARUDA A/C SEATER BUS
6   KSRTC (Kerala) - 574  Super Express Non AC Seater Air Bus (2+2)
7   KSRTC (Kerala) - 583  Super Express Non AC Seater Air Bus (2+2)
8    KSRTC (Kerala) - 56                SWIFT-GARUDA A/C SEATER BUS
9          Kyros Connect         Bharat Benz A/C Semi Sleeper (2+2)

  Departing_time Reaching_time Duration  Price     Seats_available  \
0          19:00         04:30  09h 30m  640.0  22 Seats available
1          20:00         03:45  07h 45m  473.0  14 Seats available
2          20:40         06:10  09h 30m  640.0  10 Seats available
3          21:30         06:55  09h 25m  640.0    1 Seat available
4          22:10         07:35  09h 25m  640.0    1 Seat available
5          22:30         06:00  07h 30m  627.0    1 Seat available
6          23:00         09:40  10h 40m  469.0   3 Seats available
7          23:30         09:50  10h 20m  469.0   5 Seats available
8          23:40         10:00  10h 20m  627.0  22 Seats available
9          23:00         09:00  10h 00m  599.0  31 Seats available

   Star_rating                                        Route_links  \
0          3.9  https://www.redbus.in/bus-tickets/bangalore-to...
1          3.8  https://www.redbus.in/bus-tickets/bangalore-to...
2          3.5  https://www.redbus.in/bus-tickets/bangalore-to...
3          3.1  https://www.redbus.in/bus-tickets/bangalore-to...
4          4.3  https://www.redbus.in/bus-tickets/bangalore-to...
5          3.9  https://www.redbus.in/bus-tickets/bangalore-to...
6          3.4  https://www.redbus.in/bus-tickets/bangalore-to...
7          3.4  https://www.redbus.in/bus-tickets/bangalore-to...
8          3.5  https://www.redbus.in/bus-tickets/bangalore-to...
9          4.1  https://www.redbus.in/bus-tickets/bangalore-to...

              Route_names State_name
0  Bangalore to Kozhikode     Kerala
1  Bangalore to Kozhikode     Kerala
2  Bangalore to Kozhikode     Kerala
3  Bangalore to Kozhikode     Kerala
4  Bangalore to Kozhikode     Kerala
5  Bangalore to Kozhikode     Kerala
6  Bangalore to Kozhikode     Kerala
7  Bangalore to Kozhikode     Kerala
8  Bangalore to Kozhikode     Kerala
9  Bangalore to Kozhikode     Kerala

In [15]:
import pandas as pd

# Remove the text and extract the number
Final_df['Seats_available'] = Final_df['Seats_available'].str.extract('(\d+)')  # Extract numbers

# Convert the extracted string to a float (coerce any errors to NaN)
Final_df['Seats_available'] = pd.to_numeric(Final_df['Seats_available'], errors='coerce')

# Replace NaN values with a default value (e.g., 0)
Final_df['Seats_available'] = Final_df['Seats_available'].fillna(0).astype(int)

# Check the result
print(Final_df['Seats_available'].head())

0    22
1    14
2    10
3     1
4     1
Name: Seats_available, dtype: int64

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\DELL\AppData\Local\Temp\ipykernel_9236\2638303160.py:4: SyntaxWarning: invalid escape sequence '\d'
  Final_df['Seats_available'] = Final_df['Seats_available'].str.extract('(\d+)')  # Extract numbers

In [16]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7643 entries, 0 to 7647
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Busname          7643 non-null   object
 1   Bustype          7643 non-null   object
 2   Departing_time   7643 non-null   object
 3   Reaching_time    7643 non-null   object
 4   Duration         7643 non-null   object
 5   Price            7643 non-null   float64
 6   Seats_available  7643 non-null   int64
 7   Star_rating      7643 non-null   float64
 8   Route_links      7643 non-null   object
 9   Route_names      7643 non-null   object
 10  State_name       7643 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 716.5+ KB

In [17]:
import mysql.connector
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456789",   
)
cursor = connection.cursor()
cursor.execute("CREATE DATABASE REDBUS")
print("Database Created successfully")

Database Created successfully

In [18]:
import mysql.connector
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456789",
    database="REDBUS" 
)
cursor = connection.cursor()
cursor.execute("""CREATE TABLE busdetails(
    Id INTEGER PRIMARY KEY AUTO_INCREMENT,
    Route_names VARCHAR(255) NOT NULL,
    Route_links VARCHAR(255) NOT NULL,
    Busname VARCHAR(255) NOT NULL,
    Bustype VARCHAR(255) NOT NULL,
    Departing_time VARCHAR(255) NOT NULL,
    Reaching_time VARCHAR(255) NOT NULL,
    Duration VARCHAR(255) NOT NULL,
    Star_rating FLOAT NOT NULL,
    Price FLOAT NOT NULL,
    Seats_available INT NOT NULL,
    State_name VARCHAR(255) NOT NULL)""")
print("Table Created successfully")

Table Created successfully

In [19]:
insert_query = ('''INSERT INTO busdetails(Busname,Bustype,Departing_time,Reaching_time,Duration,Price,Seats_Available,Star_rating,Route_links,Route_names,State_name)VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)''')
data =Final_df.values.tolist()
try:
    cursor.executemany(insert_query, data)
    connection.commit()
    print("Values inserted successfully")
except Exception as e:
    print(f"Error: {e}")

Values inserted successfully